.next/
.vscode/
/**/node_modules/*
node_modules/
.editorconfig
.eslintrc.json
.lintstagedrc.js
.prettierrc
next-env.d.ts
next.config.js
postcss.config.js
tailwind.config.js
public/
dist/
build/
out/
next/