@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../public/fonts/helvetica-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../public/fonts/helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../public/fonts/helvetica-light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
  font-display: swap;
}